@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

body{
  margin: 0;
  padding: 2vmin 0vmin 2vmin 0vmin;
  background-color: white;
  font-family: Josefin Slab, sans-serif;
  font-size: 4rem;
  color: #eee;
  transition: padding 1s;
}

.img{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:450px;
  border:10px solid #424242;
}

.mainMenu{
  display:flex;
  justify-content: space-evenly;
  color: #eee;
  padding-top: 1vmin;
  padding-bottom:5vmin;
  padding-left:15vmin;

}

.middle{
  padding-right:50px;
}

.port{
  padding-left: 50px;
  padding-right:50px;
}

.icon img{
  width: 30px;
}
a:link{
  text-decoration: none;
}

.contact img{
  width:20px;
}

a:visited{
  text-decoration: none;
  color:black;
}

.grid{
  display:grid;
  grid-template-columns: 20% 50% 20%;
  grid-template-rows: 500px;
  grid-column-gap: 0vmin;
  margin-top: 4vmin;
  margin-left:18vmin;
}

.aboutme{
  color:black;
  transform:translate(50% 100%);
  text-align: center;
  padding-right: 20px;
  padding-top: 300px;
}

.stuff{
  color:black;
  font-size:50px;
  padding-top:200px;
  padding-left: 2vmin;
}

.gridbelow{
  grid-template-columns: 10% 40% 10% 5%;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  border:none;
}

.container {
  border-radius: 5px;
  background-color: #000;
  padding: 20px;
  margin-top: 200px;
}

@media screen and (max-width: 375px){
  .stuff{
    color: white;
  }

  body{
    color:white;
    background-color: black;
    font-family: Josefin Slab, sans-serif;
    font-size: 4rem;

  }

  .grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #000;
    color: white;
    border-radius: 10px;
    border:none;
  }

  .aboutme{
    color:white;
  }

  .mainMenu{
    justify-content: space-between;
    align-items: center;
  }

  .abt{
    color:white;
  }

  .Home{
    color:white;
  }

  .lol{
    color:white;
  }

  a:visited{
    color:white;
    text-decoration: none;
  }
}
